
<div class="page-header"></div>
<!--
<div class="btn-group" role="group" aria-label="...">
  <a href="/" type="button" class="btn btn-default">Home</a>
  <a href="/ping" role="button" class="btn btn-default">Ping tool</a>
  <a href="/whois" role="button" class="btn btn-default">Whois tool</a>
</div>
-->

<footer class="bs-docs-footer" role="contentinfo">
	<div class="container">
		<ul class="nav nav-pills">
			<li><a href="https://github.com/kbellioum/webtools/">GitHub</a></li> 
			<li><a href="https://twitter.com/ITKnowledgeMA">Twitter</a></li>
		</ul>
		<p>Designed and built with all the love in the world by <a href="https://twitter.com/kbellioum" target="_blank">@kbellioum</a>.</p>
	</div>
</footer>
