
<div class="page-header"></div>

<footer class="bs-docs-footer" role="contentinfo">
	<div class="container">
		<ul class="nav nav-pills">
			<li><a href="https://github.com/kbellioum/webtools/">GitHub</a></li>
			<li><a href="https://twitter.com/ITKnowledgeMA">Twitter</a></li>
		</ul>
		<p>Designed and built with all the love in the world by <a href="https://twitter.com/kbellioum" target="_blank">@kbellioum</a>.</p>
	</div>
</footer>
