
<div class="jumbotron">
  <h1>Web Tools</h1>
  <p>This Web app provides some tools for admins</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#myModal">About this tool</a></p>

</div>

<!-- myModal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">About</h4>
      </div>
      <div class="modal-body">
        <p>This is the first version of web tools.</p>
        <p>Thanks for you interest.</p>
        <quote>I hope this tool will help you.</quote>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
