
<p>Welcome to {{title}}</p>

<form action="/pingresult" method="get">
    <p>IP Address : </p>
    <!--<input type="text" name="ipaddr">-->

    <div class="input-group">
      <input type="text" name="ipaddr" class="form-control" placeholder="192.168.x.x ...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Ping</button>
      </span>
    </div><!-- /input-group -->

    <!-- <input type="submit" value="Ping">-->
</form>
