
{{#if status}}
    <h1>{{status}}</h1>
{{else}}
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <h4>Oops! You got an error!</h4>
      <p>You must give an ip address and a port to scan.</p>
      <p>
        <a class="btn btn-danger" href="/portscan" type="button">Port Scan tool</a>
      </p>
    </div>
{{/if}}
