
<p>Welcome to {{title}}</p>

<form action="/whoisresult" method="get">
    <p>You domain : </p>

    <div class="input-group">
      <input type="text" name="ipaddr" class="form-control" placeholder="domain.com ...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Whois</button>
      </span>
    </div>


</form>
